@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
    font-weight: 300;
    line-height: 1.7;
    letter-spacing: 0.1px;
}

:root {
    --white: #fff;
    --primary-light: #dcdcdc;
    --primary-dark: #6c7686;
    --secondary-light: #00a0d0;
    --secondary-dark: #006a8a;
    --background-dark: #f7f8fa;
    --border-light: #e6eaf2;
}

/* Global class */
.hidden-on-mobile { top: 0; }

.d-block { display: block; }
.d-grid { display: grid; }
.d-flex { display: flex; }
.d-inline-block { display: inline-block; }

.pos-fixed { position: fixed; z-index: 1;}
.pos-relative { position: relative; }
.pos-absolute { position: absolute; }

.float-left { float: left; }

.grid-cols-2 { grid-template-columns: repeat(2, auto); }
.grid-cols-3 { grid-template-columns: repeat(3, auto); }
.grid-cols-4 { grid-template-columns: repeat(4, auto); }

.grid-rows-2 { grid-template-rows: repeat(2, auto); }
.grid-rows-3 { grid-template-rows: repeat(3, auto); }
.grid-rows-4 { grid-template-rows: repeat(4, auto); }

.top-0 { top: 0; }

.w-1000px { width: 1000px; }
.w-700px { width: 700px; }
.w-250px { width: 250px; }
.w-220px { width: 220px; }
.w-180px { width: 180px; }
.w-50px { width: 50px; }
.w-40px { width: 40px; }
.w-100 { width: 100%; }

.h-60px { height: 60px; }
.h-350 { height: 350px; }
.h-min-700px { min-height: 600px; }

.center { align-items: center; justify-content: center; text-align: center;}

.border { border: 1px solid var(--border-light); }
.b-bottom { border-bottom: 1px solid var(--border-light); }
.b-top { border-top: 1px solid var(--border-light); }
.b-radius-5px { border-radius: 5px; }
.b-radius-50 { border-radius: 50%; }

.p-sm { padding: 10px; }
.p-md { padding: 25px; }
.p-lg { padding: 50px; }

.pt-xs { padding-top: 5px; }
.pt-sm { padding-top: 10px; }
.pt-md { padding-top: 25px; }
.pt-lg { padding-top: 50px; }

.pb-sm { padding-bottom: 10px; }
.pb-md { padding-bottom: 25px; }
.pb-lg { padding-bottom: 50px; }

.px-xs { padding-left: 5px; padding-right: 5px; }
.px-sm { padding-left: 10px; padding-right: 10px; }
.px-md { padding-left: 25px; padding-right: 25px; }
.px-lg { padding-left: 50px; padding-right: 50px; }

.py-sm { padding-top: 10px; padding-bottom: 10px; }
.py-md { padding-top: 25px; padding-bottom: 25px; }
.py-lg { padding-top: 50px; padding-bottom: 50px; }
.py-xl { padding-top: 100px; padding-bottom: 100px; }

.m-xs { margin: 5px; }

.mt-xs { margin-top: 5px; }
.mt-sm { margin-top: 10px; }
.mt-md { margin-top: 25px; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-style-none { list-style: none; text-decoration: none; }

.text-xl { font-size: 4em; line-height: 1.3;}
.text-lg { font-size: 3em; }
.text-md { font-size: 2em; }
.text-sm { font-size: 1em; }
.text-xs { font-size: .7em; }

.text-bold { font-weight:500; }

.line-height-0 { line-height: 0; }

.c-primary-light { color: var(--primary-light); }
.c-primary-dark { color: var(--primary-dark); }
.c-secondary-light { color: var(--secondary-light); }
.c-secondary-dark { color: var(--secondary-dark); }

.c-github { color: var(--primary-dark); }
.c-github:hover { color: #000; }
.c-linkedin { color: var(--primary-dark); }
.c-linkedin:hover { color: #0a66c2; }

.bg-dark { background-color: var(--background-dark); }
.bg-white { background-color: var(--white); }

/* Custom class */
.fake-section { height: 60px;}
.h-home { height: calc(100vh - 60px); }
.text-home { font-size: 1.2em; }
#tecnologies { display: flex; }
.w-playground { width: 700px; }

/* Animations */
.bounce { animation: bounce 2s infinite; bottom: -10px; z-index: 0;}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-15px);
    }
    60% {
      transform: translateY(-8px);
    }
}

.hover-scale:hover img { transform: scale(1.1); transition: all .2s; }

/* Media */
@media (max-height: 680px) {
    .bounce { display: none;}
}

@media (max-width: 850px) {
    .text-xl { font-size: 2.8em; }
    .text-lg { font-size: 2.2em; }
    .text-md { font-size: 1.4em; }
    .text-sm { font-size: .9em; }
    .text-home { font-size: 1em; }
    .w-700px { width: 500px; }
    .h-60px { height: 50px ; }
    .w-180px { width: 130px; }
    .px-lg { padding-left: 30px; padding-right: 30px; }
    .w-playground { width: 630px; }
}

@media (max-width: 650px) {
    .py-xl { padding-top: 30px; padding-bottom: 40px;}
    .hidden-on-mobile { display: none; }
    .text-xl { font-size: 2.2em; }
    .text-lg { font-size: 1.9em; }
    .text-md { font-size: 1.4em; }
    .text-sm { font-size: .8em; }
    .text-home { font-size: .9em; }
    .w-700px { width: 300px; }
    .h-60px { height: 50px ; }
    .w-180px { width: 100px; }
    .px-lg { padding-left: 10px; padding-right: 10px; }
    #tecnologies { display: block; }
    #works .d-flex { display: block; }
    #works .w-700px { width: 200px; }
    #works .b-bottom { border:none; }
    #works .py-sm { padding-top: 0; }
    #works .px-md { padding-left: 0; padding-right: 0;}
    #works .hover-scale { border: 1px solid var(--border-light); border-radius: 5px; padding-top: 10px; margin-bottom: 10px;}
}

