@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;300;400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'M PLUS 1', sans-serif;
    scroll-behavior: smooth;
    font-weight: 300;
}

:root {
    --background-primary: #fff;
    --background-secondary:#fafafa;
    --border-primary: #a7a7a7;
    --border-secondary: #3295b0;
    --font-primary: #676767;
    --font-secondary: #3295b0;
  }

/*  NAVBAR ############################################*/
.nav {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 70px;
    z-index: 1;
    transition: all .3s;
}
  
.nav ul {
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    list-style: none;
}
  
.nav li {
    float: left;
    margin: 0 20px;
    width: 120px;
    font-weight: 400;
}
  
.nav a {
    text-decoration: none;
    color: var(--grey);
    font-weight: 400;
    font-size: .9em;
}
  
.nav li:hover a {
    color: var(--cyan)
}
  
.nav.scrolled {
    height: 60px;
    background-color: var(--white);
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.2);
    transition: all .3s;
}

/*  GLOBAL ############################################*/
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, minmax(400px, auto));
    justify-items: center;
}

.section {
    display: grid;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.content {
    display: grid;
    margin: 80px 0;
    width: 1200px;
    padding: 100px 0;
    grid-gap: 1em;
    text-align: center;
    justify-content: center;
    padding: 30px 0 50px;
}

.title { 
    padding-bottom: 30px;
    border:none;
}

h1 {
    font-size: 2.5em;
    color:var(--font-secondary)
}

h4 {

}

/*  #HOME ############################################*/
#home {
    background-color: var(--white);
    height: 100vh;
    min-height: 700px;
}

#home .content {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

#home .left img {
    margin: 0 30px;
    border-radius: 50%;
    width: 350px;
}

#home .right {
    border-left:1px solid var(--grey);
    padding-left: 40px;
    text-align: left;
    width: 600px;
}

#home h1 {
    font-size: 3.6em;
}

#home h4 {
    font-size: 1.4em;
}

#home h4 span {
    font-weight: 200;
    color:var(--cyan);
}

#home .rrss {
    display: flex;
    justify-content: left;
    align-items: left;
}

#home .rrss img {
    margin:20px 10px 0 0;
    width: 40px;
}


/*  #ABOUT ############################################*/
#about {
    background-color: #f0f0f0;
}

#about .content {
    width: 1050px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
}
    
#about .title { grid-area: 1 / 1 / 2 / 3; }

#about .tecnologies-text { 
    grid-area: 2 / 1 / 3 / 2; 
    text-align: left;
    padding-right: 40px;
    border-right: 1px solid var(--grey);
}

#about .tecnologies-text h3,
#about .metodologies-text h3 {
    width: 600px;
    font-size: 1.4em;
    color:var(--grey);
}

#about .tecnologies-text h4,
#about .metodologies-text h4 {
    text-align: justify;
    width: 600px;
    font-size: 1em;
    color:var(--grey);
}

#about .tecnologies-text h4 span,
#about .metodologies-text h4 span {
    font-weight: 300;
    color:var(--cyan);
}

#about .tecnologies-icons { 
    grid-area: 2 / 2 / 3 / 3; 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-left: 20px;
}

#about .metodologies-icons { 
    grid-area: 4 / 2 / 5 / 3; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding-left: 20px;
    width: 250px;
}

#about .tecnologies-icons > *,
#about .metodologies-icons > * {
    padding: 0 10px 10px;
}

#about .tecnologies-icons img, 
#about .metodologies-icons img {
    width: 60px;
}

#about .tecnologies-icons p,
#about .metodologies-icons p {
    font-size: .8em;
}

#about .metodologies-text { 
    grid-area: 4 / 1 / 5 / 2;
    text-align: left;
    padding-right: 40px;
    border-right: 1px solid var(--grey);
}

#about .hr {
    grid-area: 3 / 1 / 4 / 3; 
    margin: 20px 0;
}


/*  #playground ############################################*/
#playground {
    background-color: #fff;
}

#playground .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    width: 1050px;
}

#playground .code {
    border: 1px solid var(--grey);
    border-radius: 5px;
    padding: 10px 0;
    transition: all .2s;
    color: var(--white-3);
    cursor: pointer;
}

#playground .code i {
    font-size: 4rem;
}

#playground .code span {
    font-size: 1.2rem;
    font-style: normal;
}

#playground .code:hover {
    transform: scale(.9);
    transition: all .2s;
    color: var(--cyan-2)
}

#playground .title { grid-area: 1 / 1 / 2 / 4; }
#playground .frontend { grid-area: 2 / 2 / 3 / 3; }
#playground .backend { grid-area: 2 / 1 / 3 / 2; }
#playground .poo { grid-area: 2 / 3 / 3 / 4; }
#playground .libs-and-frameworks { grid-area: 3 / 1 / 4 / 2; }
#playground .tips-and-tricks { grid-area: 3 / 2 / 4 / 3; }
#playground .others { grid-area: 3 / 3 / 4 / 4; }

/*  #works ############################################*/

#works {
    background-color: #f0f0f0;
}

#works .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    width: 900px;
}

#works .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#works .card:hover {
    transform: scale(1.1);
    transition: all .2s;
    color: var(--cyan)
}

#works .card-image {
    position: relative;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    justify-content: center;
    border:3px solid transparent;
}

#works .card:hover .card-image {
    border:3px solid var(--cyan);
}

#works .card-image img {
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

#works .card-desc h3 {
    color:var(--grey)
}

#works .title { grid-area: 1 / 1 / 2 / 4; }
#works .multix { grid-area: 2 / 1 / 3 / 2; }
#works .gtd { grid-area: 2 / 2 / 3 / 3; }
#works .luminux { grid-area: 2 / 3 / 3 / 4; }